/*
 * Copyright (c) 2014,2016,2019 Nico Bendlin <nico@nicode.net>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
#include "runtime.rh"

#include <winresrc.h>


#pragma code_page(1252)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


VS_VERSION_INFO VERSIONINFO
	FILEVERSION    KQF_VERF_MAJOR, KQF_VERF_MINOR, KQF_VERF_PATCH, KQF_VERF_FLAGS
	PRODUCTVERSION KQF_VERP_MAJOR, KQF_VERP_MINOR, KQF_VERP_PATCH, KQF_VERP_BUILD
	FILEOS         VOS__WINDOWS32
	FILETYPE       VFT_DLL
	FILEFLAGS      KQF_VERF_FLAGS
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004b0"
		BEGIN
			VALUE "CompanyName",      KQF_VERS_CNAME
			VALUE "FileDescription",  KQF_VERS_FDESC " runtime" KQF_VERS_BUILD
			VALUE "FileVersion",      KQF_VERS_UIVER
			VALUE "InternalName",     KQF_VERS_INAME
			VALUE "LegalCopyright",   KQF_VERS_LCOPY
			VALUE "OriginalFilename", "kq8fix.dll"
			VALUE "ProductName",      KQF_VERS_PNAME
			VALUE "ProductVersion",   KQF_VERS_PVERS
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0000, 0x04B0
	END
END
